.con3 {
	background-color: #ffbf87;
	padding: 5px !important;
}

.main3 {
	border-style: double;
	margin: 10% 25% 10% 25% !important;
	background-color: #c45c00;
	background-size: 100% !important;
}

.con_div3 {
	padding: 20px !important;
}

.con_fields34 {
	font-size: 2vh !important;
	font-weight: 750 !important;
	display: flex !important;
	padding: 4px;
	margin: 10px 200px 10px 10px !important;
}

.con_but3 {
	margin-top: 20px !important;
	margin-left: 40% !important;
}
.icon3 {
	margin: 0% 0% 0% 90% !important;
}